@import "/fonts/Dosis/Dosis-Bold.ttf";
@import "/fonts/Dosis/Dosis-ExtraBold.ttf";
@import "/fonts/Dosis/Dosis-ExtraLight.ttf";
@import "/fonts/Dosis/Dosis-Medium.ttf";
@import "/fonts/Dosis/Dosis-Regular.ttf";
@import "/fonts/Dosis/Dosis-SemiBold.ttf";

body {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}
.m-top {
    margin-top: 10em;
    text-align: center;
}

.start-text {
    text-align: center;
}

.knop-groen {
    background: #336600;
    border-radius: 50%;
    height: 15em;
    width: 15em;
}

.class-100 {
    width: 100%;
    display: block;
}

.class-50 {
    width: 50%;
    display: block;
}

.class-33 {
    width: 33%;
    float: left;
    text-align: center;
}

.top-2 {
    margin-top: 8em;
}

.top-half {
    margin-top: 10%;
}

.dosis-class {
    text-align: center;
    color: #336600;
    font-size: 5em;
}
img {
    height: 50%;
    width: 50%;
}