@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
    cursor: none;
}

body {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.red {
    color: red;
    font-size: 3em;
}

.gold {
    color: gold;
}

.green {
    color: #336600;
}

.knop-blauw {
    background: blue;
    border-radius: 50%;
    height: 15em;
    width: 15em;
}

.knop-rood {
    background: red;
    border-radius: 50%;
    height: 15em;
    width: 15em;
}

.background-red {
    background: red;
    border-radius: 50%;
}

.background-blue {
    background: blue;
    border-radius: 50%;
}

.float-left {
    float: left;
}
.m-top {
    margin-top: 10em;
    text-align: center;
}

.start-text, .text-center{
    text-align: center;
}

.class-100 {
    width: 100%;
    display: block;
}

.class-50 {
    width: 50%;
    display: block;
}

.class-33 {
    width: 25vw;
    float: left;
    text-align: center;
}
.last{
      width: auto;
      float: left;
}
.top-2 {
    margin-top: 5em;
}

.top-half {
    margin-top: 10%;

}

.dosis-class {
    text-align: center;
    color: #336600;
    font-size: 8em;
}

.imageclass img{
    height: 30em;
    width: 30em;
}

.img-no-reload {
    height: 20em;
    width: 20em;
}

.biggest-font {
    font-size: 3em;
}

.background-red {
    background: red;
    border-radius: 50%;
}
.textenzo h1{
  font-size: 3em;
}
h1{
  margin: 0;
  padding:0.3em;
}
